@font-face {
    font-family: 'faustina';
    src: url('assets/font/Faustina/Faustina-Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'dancing';
    src: url('/src/assets/font/Dancing_Script/DancingScript-SemiBold.ttf');
}
h1 {
    font-family: 'faustina', sans-serif;
    text-align: center;
    font-size: 6vw;
    margin-top: 5vh;
}
figure {
    position: relative;
    width: 80vw;
    height: auto;
    margin: 2vh auto;
    background-color: white;
    padding: 5%;
}
img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 12px;
    border-radius: 12px;
}

.title {
    position: absolute;
    width: 80vw;
    font-size: 10vw;
    top: 50vh;
    left: 5vw;
    transform: rotate(-20deg);
    color: #dda259;
    font-family: 'dancing', sans-serif;
}
.title_sub {
    text-align: right;
}
.time_location {
    position: absolute;
    display: grid;
    top: 75vh;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-family: 'faustina', sans-serif;
    
}
.time_location p {
    margin-top: 10%;
    font-size: 2.7vh;
}
.time_line {
    border-right: 1px solid #dda259;
}
.location {
    border-left: 1px solid #dda259;
}
.conclusion {
    position: absolute;
    top: 90vh;
    width: 100vw;
    text-align: center;
    
}
.conclusion p {
    font-size: 2vh;
}

@media (min-width: 400px){
    .title {
        top: 43vh;
    }
    figure {
        width: 40vh;
    }
    .time_location {
        top: 65vh;
        font-size: x-large;
    }
    .conclusion {
        top: 80vh;
        font-size: large;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 2vw;
    }
    figure {
        width: 40vh;
        padding: 2%;
    }
    img {
        border-radius: 50px;
    }
    .title {
        width: 40vh;
        font-size: 5vh;
        left: 35vw;
    }    
    .time_location {
        width: 60vw;
        left: 20vw;
    }
    .time_location p {
        margin-top: 5%;
    }
    .conclusion {
        font-size: 1.5vw;
    }
}